[submodule ".vim/pack/plugins/start/vim-vue"]
	path = .vim/pack/plugins/start/vim-vue
	url = https://github.com/posva/vim-vue.git
[submodule ".zsh/zsh-z"]
	path = .zsh/zsh-z
	url = https://github.com/agkozak/zsh-z.git
[submodule ".zsh/zsh-syntax-highlighting"]
	path = .zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".zsh/pure"]
	path = .zsh/pure
	url = https://github.com/sindresorhus/pure.git
[submodule ".vim/pack/plugins/start/gruvbox"]
	path = .vim/pack/plugins/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
